body {
  font-family: "Sarabun", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background: white;
}

.fa-shopping-cart {
  padding-left: 10px;
}

