body {
  font-family: "Sarabun", sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background: white;
}

.fa-shopping-cart {
  padding-left: 10px;
}

main {
  display: flex;
  flex-direction: column;
}

.credit_checkout {
  border: 5px solid lightgrey;
  margin: 5px;
  /*height: 20vh;*/
}

label, input {
  margin: 5px;
}

label {
  display: flex;
}

input {
  display: flex;
}

@media only screen and (min-width: 768px) {
}