body {
  font-family: "Sarabun", sans-serif;
  background: url("http://www.sclance.com/backgrounds/background-for-websites/background-for-websites_190421.jpg");
}

nav {
  padding: 0px 10px;
}

h1 {
  color: teal;
}

section {
  margin-bottom: 10px;
  /* background: #d8efee;  */
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.1);
} 

img {
  width: 100%;
  border-radius: 3px;
  margin: 10px;
}

#camera,
#clock,
#dohicky,
#oldFan,
#microphone,
#receiptPrinter,
#pencilSharpener,
#phone,
#musicPlayer,
#boombox,
#stopwatch,
#recorder {
  display: flex;
}

button {
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  background-color: lightgrey; /* Also changes color of modal buttons */
  font-size: 12px;
}

footer {
  display: flex;
  justify-content: center;
}

.itemContent {
  position: relative;
  width: 100%;
  border-radius: 3px;
  color: black; /* Changes the font color and cart icon */
  margin: 30px; /* Moves content away from images */
}

.cart-icon {
  position: absolute;
  bottom: 0%;
  right: 20px;
}

#p {
  display: flex;
}

p {
  font-size: 12px;
}

/* CART MODAL */

#cart-modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* CART MODAL CONTENT STYLING */
#cart-content {
  /* background-color: #d8efee; */
  background-color: #898886;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

/* CASH MODAL */

#cash-payment-modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* CASH MODAL CONTENT STYLING */
.checkout-cash-modal {
  /* background-color: #d8efee; */
  background-color: #898886;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

/* CREDIT MODAL */
#credit-payment-modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* CREDIT MODAL CONTENT STYLING */
.checkout-credit-modal {
  /* background-color: #d8efee; */
  background-color: #898886;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

/* RECEIPT MODAL BACKGROUND  STYLING*/
#receipt-modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* RECEIPT MODAL CONTENT STYLING */
.modal {
  /* background-color: #d8efee; */
  background-color: #898886;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 16px;
  }
  button {
    font-size: 16px;
  }
}
