body {
  font-family: "Sarabun", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background: white;
}

.fa-shopping-cart {
  padding-left: 10px;
}

section {
  margin-bottom: 10px;
  background: ##d8efee;
  border-radius: 3px;
  display: flex;
}

img {
  width: 100%;
  border-radius: 3px;
}

div.photo {
  width: 50%;
}

button {
  border-radius: 3px;
  padding: 15px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
}

.itemContent {
  position: relative;
}
.cart-icon {
  position: absolute;
  bottom: 0%;
}

@media only screen and (min-width: 768px) {
}
